
body{
    background-color: #b7b4b4;
}
.join_box {
    border: 1px solid black;
    width: 500px;
    height: 368px;
    margin: 180px auto;
    text-align: center;
}
.join_box ul {
    list-style: none;
}
.join_box h3 {
    padding: 5px 5px 35px 5px;
}
.join_box li {
    padding: 5px 5px 5px 5px;
}
.join_box button {
    margin: 50px 50px 50px 50px;
    padding: 5px 5px 5px 5px;
}
